body {
    margin: 0;
    background: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

h1 {
    font-size: 18px;
    font-weight: 700;
}

p {
    font-size: 13px;
    font-weight: lighter;
    color: hsl(220, 15%, 55%);
}

.container {
    position: absolute;
    width: 240px;
    height: 300;
    height: auto;
    top: 50%;
    left: 50%;
    border: 1px solid;
    border-color: white;
    border-radius: 10px;
    background-color: white;
    padding: 15px 13px;
    margin: -150px 0 0 -120px
}

.container-img {
    background-color: white;  
    margin: auto;
}

.container-txt {
    padding: 10px;
}
.qrcode {
    width: 100%;
    border-radius: 10px;
}