@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

body {
    min-height: 100vh;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-family: 'Fraunces', serif;
    font-size: 2rem;
}

h2 {
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 6px;
    color: hsl(228, 12%, 48%);
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.5rem;
    color: hsl(228, 12%, 48%);
}

button {
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    border-radius: 10px;
    width: 100%;
    height: 40px;

}

button:hover {
    background-color: hsl(158, 36%, 27%);
}
/* CONFIG FOR BIGGER SCREEN (IPAD OR >) */
@media screen and (min-width: 768px){

.centered {
    display: flex;
    margin: auto;
    left: 50%;
    width: 600px;
    height: 450px;;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    }

    .left {
        width: 300px;
        height: 450px;
    }
    
    .right {
        width: 300px;
        padding: 20px;
        box-sizing: border-box;
    }
}

/* CONFIG FOR SMALLER SCREEN */
@media screen and (max-width: 768px){
    .centered {
        margin: auto;
        left: 50%;
        display: block;
        width: 320px;
        background-color: white;
        border-radius: 10px;
        overflow: hidden;
    }

    .left {
        display: block  ;
        height: 230px;
        
    }

    .right {
        box-sizing: border-box;
        padding: 20px;
    }

}

.product-price {
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-size: 32px;
}

.product-discount {
    font-family: "Montserrat", sans-serif;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    font-size: 12px;
    text-align: center;
    justify-content: center;
}

.product-image {
    width:100%;
}